# ========================
# VERITABANI (MariaDB)
# ========================
DB_NAME=UgaBurger
DB_USER=ugaburger
DB_PASSWORD=ugaburger33
DB_HOST=localhost
DB_PORT=3306

# ========================
# SUNUCU
# ========================
PORT=3000

# ========================
# JWT
# ========================
JWT_SECRET=uga_burger_super_secret_key_2026

# ========================
# CLIENT URL (CORS)
# ========================
CLIENT_URL=https://ugaburger.com
